<ul class="film_list list">
    {{#each cards}}
    <li class="film_item list">
        <a class="film-link link js-open-modal" data-modal="1" data-id="{{id}}">
            <img src=https://image.tmdb.org/t/p/w500{{poster_path}} alt="{{title}}" class="film_image">
        </a>
        <h1 class="film_title">{{title}}</h1>
        <p class="film_desc">{{newGenre}} | {{year}}</p>
    </li>
    {{/each}}
</ul>