<ul class="film_list list">
    {{#each cards}}
    <li class="film_item list">
        <a class="film-link link" href="/"><img src=https://image.tmdb.org/t/p/w500{{poster_path}} alt="{{title}}"
                class="film_image"></a>
        <h1 class="film_title">{{title}}</h1>
        <p class="film_desc">{{newGenre}}|{{year}}</p>
        <p class="film_raiting">{{vote_average}}</p>
    </li>
    {{/each}}
</ul>