<ul class="film_list">
    {{#each people}}
    <li class="film_item">
        <a><img src="{{backdrop_path}}" alt="{{title}}" class="film_image"></a>
        <h1 class="film_title">{{title}}</h1>
        <p class="film_desc">|{{release_date}}{{vote_average}}</p>
    </li>
    {{/each}}
</ul>