<div class="modal-thumb" data-action="{{id}}">
<div class="thumb">

  <img class='modal__image' src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" data-id="{{id}}" />
</div>
<div class="content__text">
  <h2 class='modal__title'>{{title}}</h2>

   <div class='wrap-modal'>
    

     <ul class='modal__list modal__list--keys'>
      <li>Vote / Votes</li>
      <li>Popularity</li>
      <li>Original Title</li>
      <li>Genre</li>
    </ul>


    <ul class='modal__list modal__list--values'>
      <li class='modal-list__item'>
        <span class='modal__rating--orange'>{{vote_average}}</span>
        <span class='modal__rating--slash'> /</span>
        <span class='modal__rating'>{{vote_count}}</span>
      </li>
      <li>{{popularity}}</li>
      <li>
          <p>{{original_title}}</p>
       
      
      </li>
      <li>{{genre_ids}}</li>
    </ul>

  <div class='modal-text'>
    <h3 class='modal-text__title'>About</h3>
    <p class='modal-text__item'>{{overview}}</p>
    </div>
  </div>
</div>

   </div>
  <ul class='list-buttons'>
    <li>
      <button type='submit' class='button-modal button-modal--orange' id='watchedInModal'>add to Watched</button>
    </li>
    <li>
      <button type='submit' class='button-modal' id='queueInModal'>add to queue</button>
    </li>

  </ul>
</div>
</div>